{% extends 'main/base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}
<section id="home" class="full-height px-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h1 class="display-4 fw-bold" data-aos="fade-up">Welcome <span class="text-brand"> to Vista Services</span></h1>
                <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300">We Will solve and deliver</p>
                    <br>
                <div data-aos="fade-up" data-aos-delay="600">
                    <a href="{% url 'Requests:service_view' %}" class="btn btn-brand me-3">Services</a>
                </div>
            </div>
        </div>
        </div>
</section>
{% endblock body %}
